@charset "UTF-8";
/* color palette : Aussie Palette 
#130f40 - 남색(글씨)
#95afc0 - 회색 계통(배경)
#ffbe76 - 연한 주황색 (글씨랑 대비되게 할 때)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  font-family: 'Glory', sans-serif;
}

* li,
* ol,
* ul {
  list-style: none;
}

* a {
  text-decoration: none;
  color: #130f40;
}

* button {
  margin: 0 auto;
  border: none;
}

.top {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.top header {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #130f40;
  padding: 8px 12px;
  position: fixed;
}

.top header .logo {
  cursor: pointer;
  display: flex;
  margin: 0 30px;
}

.top header .logo .title {
  width: 100px;
  font-size: 23px;
  color: #130f40;
  line-height: 46px;
  color: #ffbe76;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.top header .logo a {
  width: 60px;
  display: block;
}

.top header .logo .fa-kiwi-bird {
  color: #f0932b;
  font-size: 23px;
  line-height: 46px;
}

.top header .nav-list {
  display: flex;
  justify-content: space-around;
  width: 900px;
  z-index: 30;
  background-color: #130f40;
}

.top header .nav-list li a {
  color: #ffbe76;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;
}

.top header .nav-list li a:hover {
  background-color: #ffbe76;
  color: #130f40;
}

.top .slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.top .slider .slide {
  width: 100%;
  height: 100%;
  display: flex;
}

.top .slider .slide li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.top .slider .slide li:not(:first-child) {
  display: none;
}

.top .slider .slide li img {
  width: 100%;
  height: 100%;
}

.top .slider .slide p {
  position: absolute;
  top: 35%;
  right: 14%;
  font-family: fantasy;
  opacity: 0.6;
  width: auto;
  font-size: 8vw;
  line-height: 75px;
  color: #130f40;
  z-index: 10;
}

.top .slider .slide button {
  width: 100px;
  height: 40px;
  font-size: 23px;
  font-family: fantasy;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 40%;
  opacity: 0.8;
}

.top .slider .slide button:hover {
  cursor: pointer;
  background-color: #130f40;
  color: #ffbe76;
  transition: all 0.4s ease-out;
  opacity: 0.8;
}

main {
  max-width: 1200px;
  height: auto;
  margin: 50px auto 0;
  padding: 2%;
}

main .state_left {
  width: 400px;
  margin: auto;
}

main .state_left .mapimg {
  width: 100%;
}

main .state_right {
  max-width: 1200;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

main .state_right .state {
  width: 340px;
  height: auto;
  margin: 1%;
  background-color: #f0932b;
  display: flex;
}

main .state_right .state img {
  width: 200px;
  height: 200px;
  margin: 2% 3%;
  box-shadow: 2px 3px 4px 1px;
}

main .state_right .state img:hover {
  opacity: 0.6;
  cursor: pointer;
}

main .state_right .state .text {
  padding: 20px;
  line-height: 22px;
  color: #130f40;
}

main .state_right .state li:hover {
  background-color: #130f40;
  color: #ffbe76;
  cursor: pointer;
}

.video_box {
  overflow: hidden;
  width: 100%;
  height: 850px;
  margin-top: 50px;
  position: relative;
}

.video_box video {
  position: absolute;
  top: -151px;
  left: 0;
  width: 100vw;
  height: 1080px;
  margin: 0 auto;
}

.video_box .text_ask {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3.5vh;
  font-family: impact;
  color: #f0932b;
  background-color: #130f40;
  width: 100%;
  height: 160px;
  padding: 2% 11%;
}

.video_box button {
  width: 120px;
  height: 30px;
  font-size: 21px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  position: absolute;
  bottom: 1%;
  left: 45%;
  transition: all 0.8s ease-in-out;
  color: #130f40;
}

x .video_box button:hover {
  background-color: #130f40;
  color: #ffbe76;
  transition: all 0.5s ease-in-out;
}

.activities {
  max-width: 1200px;
  height: auto;
  margin: 5% auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  background-color: #f0932b;
}

.activities article {
  width: 350px;
  display: flex;
  flex-flow: column wrap;
  padding-top: 35px;
}

.activities article img {
  width: 100%;
  display: block;
  height: 230px;
}

.activities article .text {
  text-align: center;
  padding: 10px;
  color: #130f40;
}

.activities article p {
  font-size: 13px;
  line-height: 20px;
  color: #130f40;
}

.activities article button {
  width: 70px;
  height: 25px;
  border: none;
  color: #130f40;
  cursor: pointer;
  font-size: 13px;
  margin-top: 10px;
}

.activities article button:hover {
  background-color: #130f40;
  color: #ffbe76;
  transition: all 0.5s ease-in-out;
}

.message {
  background-image: url("../img/main/koalas_1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 850px;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.message .text {
  position: absolute;
  top: 10%;
  right: 5%;
  border: 10px solid #ffbe76;
  width: 500px;
  height: 350px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #130f40;
}

.message .text b {
  padding: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 35px;
  color: #ffbe76;
}

.message .text p {
  padding: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 27px;
  color: #ffbe76;
}

.message .text .btn3 {
  width: 150px;
  height: 30px;
  background-color: #130f40;
  color: #ffbe76;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.message .text .btn3:hover {
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.more {
  max-width: 1200px;
  height: auto;
  margin: 5% auto;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.more .todo {
  width: 350px;
  height: 280px;
  position: relative;
}

.more .todo img {
  width: 100%;
  height: 100%;
}

.more .todo .text {
  color: #ffbe76;
  line-height: 25px;
  text-align: center;
  max-width: 100%;
  height: 20px;
  margin: 20px auto;
  position: absolute;
  bottom: 20px;
  left: 26%;
}

.more .todo .text button {
  border: none;
  width: 110px;
  background-color: #130f40;
  color: #ffbe76;
  padding: 3px;
  font-size: 11px;
}

.more .todo .text p {
  font-size: 20px;
  color: #130f40;
}

.foot {
  width: 100%;
  margin-top: 50px;
}

.foot h3 {
  font-size: 25px;
  text-align: center;
}

.foot .text {
  margin: 0 auto;
  width: 600px;
  height: auto;
  text-align: center;
  padding: 40px;
  font-size: 17px;
  color: #130f40;
}

.foot .bg {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-color: #130f40;
  background-image: url("../img/common/cliff-557066.jpg");
  background-position: center;
  background-size: cover;
}

.foot ul {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #130f40;
  color: #ffbe76;
  font-size: 12px;
}

.foot ul li {
  cursor: pointer;
  line-height: 20px;
  padding: 5px 15px;
}

@media (max-width: 480px) {
  main {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  main .mapimg {
    width: 100%;
    height: 100%;
    z-index: 3;
    margin: auto 0;
  }
  main .state {
    width: 100%;
    height: auto;
    margin: 10px;
    text-align: center;
    background-color: #f0932b;
  }
  main .state img {
    display: none;
  }
  main .state .text {
    padding: 20px;
    line-height: 22px;
    color: #130f40;
  }
  main .state .text h4 {
    cursor: pointer;
    margin-top: 10px;
    color: #130f40;
    text-align: center;
  }
  main .state .text ul {
    display: none;
  }
  main .state .text ul:hover {
    background-color: #130f40;
    color: #ffbe76;
    cursor: pointer;
  }
}

@media (max-width: 749px) {
  main {
    flex-flow: wrap;
  }
  main .state_right {
    width: 100%;
  }
  main .state_right .state {
    width: 100%;
  }
  main .state_right .state img {
    display: none;
  }
  main .state_right .state .text {
    line-height: 0;
    margin: auto;
  }
  main .state_right .state .text ul {
    display: none;
  }
  .more {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    border: 10px solid #f0932b;
    margin: 0;
  }
  .more .todo {
    width: 100%;
  }
  .foot .text {
    width: 90%;
    margin: 0 auto;
  }
  .foot .contact {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .foot .contact li {
    border: none;
  }
}

@media (max-width: 1024px) {
  .top {
    max-width: 100%;
  }
  .top header {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .top header .fa-bars {
    z-index: 20;
    display: block;
    cursor: pointer;
    font-size: 28px;
    color: #ffbe76;
    position: absolute;
    right: 35px;
    top: 11px;
  }
  .top header .nav-list {
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    display: none;
  }
  .top header .nav-list li {
    width: 100%;
    text-align: center;
  }
  .top header .nav-list li a {
    width: 100%;
    display: block;
  }
}

@media (min-width: 1025px) {
  header .fa-bars {
    display: none;
  }
}
