@charset "UTF-8";
/* color palette : Aussie Palette 
#130f40 - 남색(글씨)
#95afc0 - 회색 계통(배경)
#ffbe76 - 연한 주황색 (글씨랑 대비되게 할 때)
*/
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  object-fit: cover;
  font-family: 'Glory', sans-serif;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #130f40;
}

button {
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  min-width: 100%;
  height: 50px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #130f40;
  padding: 0 15%;
}

header .logo {
  width: 200px;
  height: 100%;
  display: flex;
  margin: 0 30px;
}

header .logo .title {
  width: 100px;
  font-size: 23px;
  color: #130f40;
  line-height: 46px;
  color: #ffbe76;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header .logo a {
  width: 60px;
}

header .logo a img {
  width: 100%;
}

header nav {
  width: 900px;
  height: 50px;
  margin: 10px 0;
  box-sizing: border-box;
  line-height: 30px;
  padding: 10px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav ul a {
  color: #ffbe76;
  font-size: 15px;
}

header nav ul a:hover {
  color: #ffbe76;
  font-weight: bold;
  font-size: 16px;
}

#big_image {
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-image: url(../img/sub/heart.jpg);
  background-position: center;
  padding: 70px 150px;
  box-sizing: border-box;
  margin: 50px 0 0 0px;
}

#big_image > p {
  text-align: left;
  color: #fff;
}

#big_image > #p1 {
  font-size: 43px;
  margin: 200px 0 25px 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#big_image > #p2 {
  font-size: 23px;
  margin: 0px 0 0 200px;
  font-family: unset;
  letter-spacing: 2px;
}

#main_text {
  width: 100%;
  height: 330px;
  background-color: #eee;
  text-align: left;
  padding: 100px 0px 0px 400px;
  font-size: 17px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  letter-spacing: 1px;
}

section {
  margin: 40px auto;
}

.tour_1 {
  width: 1200px;
  height: 570px;
  background-color: #fff;
  padding-top: 80px;
}

.tour_1 h2 {
  text-align: center;
  padding-left: 20px;
  font-size: 22px;
  letter-spacing: 2px;
}

.tour_1 .row {
  width: 1180px;
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tour_1 .web_right {
  width: 360px;
  height: 400px;
}

.tour_1 .web_left {
  width: 560px;
  height: 400px;
  padding: 80px 10px 0 40px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}

.tour_1 img {
  width: 360px;
  height: 400px;
}

.tour_1 button {
  width: 80px;
  height: 80px;
  margin-top: 150px;
  border: none;
  border-radius: 40px;
}

.tour_1 button:hover {
  cursor: pointer;
  background-color: #666;
  color: #fff;
  border: none;
  opacity: 0.7;
}

.tour_2 {
  width: 1200px;
  height: 570px;
  background-color: #eee;
  padding-top: 80px;
}

.tour_2 h2 {
  text-align: center;
  padding-left: 20px;
  font-size: 22px;
  letter-spacing: 2px;
}

.tour_2 .row {
  width: 1180px;
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tour_2 .web_left {
  width: 360px;
  height: 400px;
}

.tour_2 .web_right {
  width: 560px;
  height: 400px;
  padding: 80px 10px 0 80px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}

.tour_2 img {
  width: 360px;
  height: 400px;
}

.tour_2 button {
  width: 80px;
  height: 80px;
  margin-top: 150px;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  color: #333;
}

.tour_2 button:hover {
  cursor: pointer;
  background-color: #666;
  color: #fff;
  border: none;
  opacity: 0.7;
}

.tour_3 {
  width: 1200px;
  height: 570px;
  background-color: #fff;
  padding-top: 80px;
}

.tour_3 h2 {
  text-align: center;
  padding-left: 20px;
  font-size: 22px;
  letter-spacing: 2px;
}

.tour_3 .row {
  width: 1180px;
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tour_3 .web_right {
  width: 360px;
  height: 400px;
}

.tour_3 .web_left {
  width: 560px;
  height: 400px;
  padding: 80px 10px 0 40px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}

.tour_3 img {
  width: 360px;
  height: 195px;
}

.tour_3 button {
  width: 80px;
  height: 80px;
  margin-top: 150px;
  border: none;
  border-radius: 40px;
}

.tour_3 button:hover {
  cursor: pointer;
  background-color: #666;
  color: #fff;
  border: none;
  opacity: 0.7;
}

.tour_4 {
  width: 1200px;
  height: 570px;
  background-color: #eee;
  padding-top: 80px;
}

.tour_4 h2 {
  text-align: center;
  padding-left: 20px;
  font-size: 22px;
  letter-spacing: 2px;
}

.tour_4 .row {
  width: 1180px;
  height: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tour_4 .web_left {
  width: 360px;
  height: 400px;
}

.tour_4 .web_right {
  width: 560px;
  height: 400px;
  padding: 80px 10px 0 80px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}

.tour_4 img {
  width: 360px;
  height: 195px;
}

.tour_4 button {
  width: 80px;
  height: 80px;
  margin-top: 150px;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  color: #333;
}

.tour_4 button:hover {
  cursor: pointer;
  background-color: #666;
  color: #fff;
  border: none;
}

map {
  width: 100%;
  height: 570px;
  background-color: skyblue;
  margin: 70px auto 0px;
}

map iframe {
  width: 100%;
  height: 100%;
}

.slide {
  width: 1200px;
  height: 300px;
  margin: 20px auto 80px;
  overflow: hidden;
  position: relative;
}

span {
  position: absolute;
  top: 50%;
  display: block;
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 40px;
  transform: translateY(-50%);
}

span:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.prev {
  left: 0;
  border-radius: 0 10px 10px 0px;
  padding: 0 8px 0 2px;
}

.next {
  right: 0;
  border-radius: 10px 0px 0px 10px;
  padding: 0 2px 0 8px;
}

.slider {
  width: 3000px;
}

.slider li {
  width: 390px;
  height: 300px;
  float: left;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.slider li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slide p {
  position: absolute;
  bottom: -12%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 65px;
  line-height: 65px;
  opacity: 0.8;
}

.basic {
  color: #555;
  background-color: #fff;
}

.skyblue {
  color: yellow;
  background-color: skyblue;
  font-weight: bold;
  font-size: 16px;
}

footer {
  width: 100%;
  height: 860px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0 auto;
  width: 600px;
  height: 230px;
  display: inline-block;
  background-color: #eee;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  font-size: 17px;
}

footer b {
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer #bg {
  width: 100%;
  height: 600px;
  background-color: #333;
  background-image: url(../img/common/cliff-557066.jpg);
  background-position: center;
  top: 20%;
  background-size: cover;
}

footer ul {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #eee;
  font-size: 12px;
}

footer li {
  cursor: pointer;
  margin-right: 30px;
  line-height: 20px;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  padding: 5px;
}
