@charset "UTF-8";
/* color palette : Aussie Palette 
#130f40 - 남색(글씨)
#95afc0 - 회색 계통(배경)
#ffbe76 - 연한 주황색 (글씨랑 대비되게 할 때)
*/

$fontColor : #130f40;
$orangeColor : #ffbe76;
$bgColor : #f0932b;
$gColor : #95afc0;


@mixin flex($x, $y, $w) {
display : flex;
justify-content : $x;
align-items : $y;
flex-wrap : $w;
}

//  ---basic---
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    object-fit:cover;
    font-family: 'Glory', sans-serif;
    li,
    ol,
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $fontColor;
    }
    button {
        margin: 0 auto;
        border: none;
    }
}
// ---basic end ---
   
// ---START header---
    header {
        z-index: 10;
        @include flex(space-between , center, nowrap);
        width: 100%;
        background-color: $fontColor;
        padding: 8px 12px;
        position: fixed;
        .logo {
            cursor: pointer;
            display: flex;
            margin: 0 30px;
            .title {
                width: 100px;
                font-size: 23px;
                color: $fontColor;
                line-height: 46px;
                color: $orangeColor;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            a {
                width: 60px;
                display: block;
            } 
            .fa-kiwi-bird {
            color: $bgColor;
            font-size: 23px;
            line-height: 46px;
            } 
        }
        .nav-list {
                display: flex;
                justify-content: space-around;
                width: 900px;
                z-index: 30;
                background-color: $fontColor;
            li {
                a{
                color: $orangeColor;  
                font-size: 15px;
                padding: 8px 12px;
                border-radius: 4px;
                  &:hover {
                      background-color: $orangeColor;
                      color: $fontColor;
                  }
                }
            }
        
        }
    }
// ---END header---

.big_image {
  max-width:100%;
  height:750px;
  background-attachment:fixed;
  background-image:url(../img/sub/heart.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: $fontColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .p1 {
      font-size:43px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin-bottom: 40px;
      letter-spacing: 1px;
    }

    .p2 {
      font-size:23px;
      font-family:unset;
      letter-spacing:2px;
    }
}

.main_text {
  width:100%;
  height:280px;
  background-color: $fontColor;
  text-align: center;
  font-size:20px;
  line-height:40px;
  color: $gColor;
  letter-spacing:1px;
  padding: 40px 0;
}


.state_list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tour_right {
    width:1200px;
    height:570px;
    background-color:$orangeColor;
    padding-top:80px;
    margin-top: 50px;
    
    h2 {
      text-align:center;
      padding-left:20px;
      font-size:22px;
      letter-spacing:2px;
    }

    .row {
      width:1180px;
      height:400px;
      padding:10px;
      display:flex;
      justify-content:space-between;
    

      .web_right {
        width:360px;
        height:400px;
        img {
          width:360px;
          height:400px;
        }
      }
      .web_left {
        width:560px;
        height:400px;
        padding:80px 10px 0 40px;
        font-size:14px;
        line-height:25px;
        letter-spacing:1px;
      }
      button {
        width:80px;
        height:80px;
        margin-top:150px;
        border-radius:40px;
        background-color: $fontColor;
        color: $bgColor;
        font-size: 20px;

        &:hover {
          cursor:pointer;
          background-color: $bgColor;
          color: $fontColor;
          border:none;
          opacity:0.7;
        }
      }
    }
  }

  .tour_left {
    width:1200px;
    height:570px;
    background-color: $gColor;
    padding-top:80px;
    margin-top: 50px;
    h2 {
      text-align:center;
      padding-left:20px;
      font-size:22px;
      letter-spacing:2px;
    }
    .row {
      width:1180px;
      height:400px;
      padding:10px;
      display:flex;
      justify-content:space-between;
    

      .web_left {
        width:360px;
        height:400px;
        img {
          width:360px;
          height:400px;
        }
      }

      .web_right {
        width:560px;
        height:400px;
        padding:80px 10px 0 80px;
        font-size:14px;
        line-height:25px;
        letter-spacing:1px;
      }
      button {
        width:80px;
        height:80px;
        margin-top:150px;
        border-radius:40px;
        background-color: $bgColor;
        color: $fontColor;
        font-size: 20px;
        &:hover {
          cursor:pointer;
          background-color: $fontColor;
          color: $bgColor;
          opacity:0.8;
        }
      }
      
    }
  }  
}

.queen {
  max-width:100%;
  height:570px;
  margin-top: 50px;
   iframe {
    width:100%;
    height:100%;
  }
}

.slide {
  width: 1200px; 
  height: 300px; 
  margin: 20px auto 80px;  
  overflow: hidden;
  position:relative;
}

span {
  position: absolute; 
  top:50%; 
  display: block; 
  font-size: 40px; 
  color:$bgColor; 
  line-height: 35px;
  background: $fontColor; 
  cursor: pointer; 
  height: 40px; 
  width: 40px;
  transform: translateY(-50%);
}
      
span:hover {
  background: $bgColor; 
  color: $fontColor;
}
      
.prev {
  left:0; 
  border-radius: 50%; 
  padding: 0 5px 0 8px;
}  
      
.next {
  right:0; 
  border-radius: 50%; 
  padding: 0 5px 0 10px;
}      

.slider {
  width: 3000px; 
}
      
.slider li {
  width:390px;
  height: 300px;
  float: left;
  margin-right:20px;
  position:relative;
  cursor:pointer;
}
      
.slider li img {
  width: 100%; 
  height: 100%;
  cursor:pointer;
}
      
.slide p {
  position: absolute; 
  bottom:-12%; 
  left: 50%; 
  text-align:center; 
  
  transform: translate(-50%, -50%);
  width: 390px; 
  height: 65px; 
  line-height: 65px; 
  opacity: 0.8;
}

.basic {
  color: $fontColor;
  background-color: $orangeColor;

}

.skyblue { 
  color: $bgColor;
  background-color: $fontColor;
  font-weight:bold;
  font-size: 20px;
}
      


.foot {
  width: 100%;
  margin-top: 50px;
  h3 {
          font-size: 25px;
          text-align: center;
      }
  .text {
      margin: 0 auto;
      width: 600px;
      height: auto;
      text-align: center;
      padding: 40px;
      font-size: 17px;
      color: $fontColor;
  }
  .bg {
      width: 100%;
      height: 600px;
      margin: 0 auto;
      background-color: $fontColor;
      background-image: url("../img/common/cliff-557066.jpg");
      background-position: center;
      background-size: cover;
  }

  ul {
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: $fontColor;
      color: $orangeColor;
      font-size: 12px;
  
      li {
          cursor: pointer;
          line-height: 20px;
          padding: 5px 15px;
      }
  }
}

@media (max-width: 480px) {}
 
@media (max-width: 749px){
  .foot {
      .text {
          width: 90%;
          margin: 0 auto;
      }
      .contact {
          display:flex;
          flex-direction: column;
          height: auto;
          text-align: center;
          li {
              border: none;
          }
      }
  }
}

@media (max-width: 1024px){
  .top {  
      max-width: 100%;
      header {
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          .fa-bars {
              z-index: 20;
              display: block;
              cursor: pointer;
              font-size:28px;
              color: $orangeColor;
              position:absolute;
              right: 35px;
              top: 11px;
          }
          .nav-list {
              flex-direction: column;
              max-width: 100%;
              flex-wrap: wrap;
              align-items: center;
              display: none;
              li {
                width: 100%;
                text-align: center;
                  a {
                      width: 100%;
                      display: block;
                  } 
              } 
          }
      } 
  } 
} 

@media (min-width: 1025px){
  header {
      .fa-bars{ 
          display:none;
      }
  }
}

